/* к секции 1 */
.knopka{
    color: aquamarine;
}
.text1s1{
    font-family: 'Ubuntu';
    font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
}
.zags1{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 40px;
}
.text2s1{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
}
/* к секции 2 */
.text1s2{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
}
.zag1s2{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 40px;
}
.text2s2{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
}
/* к секции 3 */
.text1s3{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
}
.
